{% extends "base.html" %}

{% block content %}
    <h3>Accounts in Server</h3>
    <form>
        <input name='S'>
    </form>
    {% if results %}
        Found the following items:
            <ol>
                {% for result in results %}

                    <li>
                        <a href="{% url 'account_detail' result.id %}">
                {{ result.alias|capfirst }}
            </a>
                    </li>

                {% endfor %}
            </ol>
    {% endif %}
{% endblock %}