{% extends "base.html" %}

{% block content %}
    <h3>Accounts in Server</h3>
    <form>
        <input name='S' placeholder="Search All Fields">
        <input type="submit" value="Search">
    </form>
    {% if results %}
        Found the following items:
            <ol>
                {% for result in results %}

                    <li>
                        <a href="{% url 'account_detail' result.id %}">
                {{ result.alias|capfirst }}
            </a>
                            <ul id="details">
                                <li>Mailbox: {{ result.mailbox }}</li>
                                <li>Transfer Protocol: {{ result.type }}</li>
                                <li>Server: {{ result.server }}</li>
                            </ul>
                    </li>

                {% endfor %}
            </ol>
    {% endif %}
{% endblock %}