{% extends "base.html" %}

{% block content %}
    <h3>Accounts in Server</h3>
    <form>
        <input name='S'>
    </form>
    {% if results %}
        Found the following items:
            <ol>
                {% for result in results %}
                    {% for account in result %}
                        <li>
                            <a href="{% url 'account_detail' account.id %}">
                    {{ account.alias|capfirst }}
                </a>
                        </li>
                        {% endfor %}
                {% endfor %}
            </ol>
    {% endif %}
{% endblock %}